/*
 * Node.js modules
 */
@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

/*
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=latin,latin-ext);

/*
 * Mobile styles
 */
.event {
  color: #122244;
  font-family: "Open Sans";
}

.event__date {
  font-weight: bold;
}

.event__desc {
  text-transform: uppercase;
}

/********************/

.bulletpoint {
  background-color: #122244;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  /*float: left;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.bulletpoint__icon {
  color: #fff;
  text-align: center;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  line-height: 30px;
}

.bulletpoint__icon--past {
  color: #122244;
  background: linear-gradient(0deg, #40789d, #6cc7ee 89%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .94);
}

/*
 * Desktop styles
 */
.bulletpoint__icon:hover {
  color: #fff;
  background: linear-gradient(0deg, #56b08b, #73d2ab 89%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .94);
}
