/*
 * Node.js modules
 */
@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

/*
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=latin,latin-ext);

/*
 * Mobile styles
 */
.timeline__axis {
  list-style-type: none;
  padding: 0;
  margin: 16px;
}

/********************/

.event {
  color: #122244;
  font-family: "Open Sans";
}

.event__date {
  font-weight: bold;
  font-size: 14px;
}

.event__desc {
  margin-left: 49px;
  font-size: 10px;
  text-transform: uppercase;
}

/********************/

.bulletpoint {
  background-color: #122244;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bulletpoint__icon {
  color: #fff;
  text-align: center;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  line-height: 30px;
  transition: all .2s;
}

.bulletpoint__icon:hover {
  color: #fff;
  background: linear-gradient(0deg, #56b08b, #73d2ab 89%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .94);
  cursor: pointer;
}

.bulletpoint__icon--past {
  color: #122244;
  background: linear-gradient(0deg, #40789d, #6cc7ee 89%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .94);
}

/*
 * Desktop styles
 */
 @media only screen and (min-width: 1024px) {
   .timeline {
     height: 170px;
     display: flex;
     justify-content: center;
     align-items: flex-end;
   }

   .timeline__axis {
     background-color: #122244;
     height: 19px;
     border-radius: 6px;
     margin-top: 26px;
     margin-bottom: 26px;
     box-shadow: 0 -10px 19px rgba(168, 119, 178, .3);
     width: 80%;
   }

   .timeline__progress {
     background: linear-gradient(0deg, #2f5a7e, #75d8ff);
     box-shadow: inset 0 1px 0 rgba(255, 255, 255, .45);
     border-radius: 4px;
     height: 11px;
     max-width: calc(100% - 8px);
     width: 33%;
     margin-top: 4px;
     margin-left: 4px;
   }

   /********************/

   .event {
     display: inline-block;
     position: relative; /* for tooltip */
   }

   .event__desc {
     display: none;
   }

   .event__date {
     display: inline-block;
     width: 103px;
     outline: 1px solid #73d2ab;
     padding: 10px 0;
     margin-left: -10px;
     margin-top: -10px;
     margin-bottom: 10px;
     font-size: 10px;
   }

   /********************/

   .bulletpoint {
     margin-top: -9px;
   }

   .bulletpoint:hover + .event__desc {
     display: block;
     text-align: center;
     color: #122244;
     background-color: #fff;
     border: 1px solid #73d2ab;
     padding: 10px;
     margin-left: 0;
     width: 83px;
     position: absolute;
     top: -111px;
     left: 0;
     transform: translateX(calc(-50% + 37px / 2));
   }

   .bulletpoint:hover + .event__desc::before,
   .bulletpoint:hover + .event__desc::after {
     content: "";
     border-left: 6px solid transparent;
     border-right: 6px solid transparent;
     height: 6px;
     position: absolute;
     left: calc(103px / 2); /* half of width of tooltip */
     transform: translateX(-50%);
   }

   .bulletpoint:hover + .event__desc::before {
     border-top: 6px solid #73d2ab;
     top: 82px;
   }

   .bulletpoint:hover + .event__desc::after {
     border-top: 6px solid #fff;
     top: 81px;
   }
}
