/*
 * Node.js modules
 */
@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";

/*
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=latin,latin-ext);

/*
 * Mobile styles
 */
.timeline__axis {
  list-style-type: none;
  padding: 0;
  margin: 16px;
}

/********************/

.event {
  color: #122244;
  font-family: "Open Sans", sans-serif;
}

.event__date {
  font-weight: bold;
  font-size: 14px;
}

.event__desc {
  margin-left: 49px;
  font-size: 10px;
  text-transform: uppercase;
}

/********************/

.bulletpoint {
  background-color: #122244;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bulletpoint:focus {
  outline: none;
}

.bulletpoint__icon {
  color: #fff;
  text-align: center;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  line-height: 30px;
  transition: color .2s;
}

.bulletpoint:hover .bulletpoint__icon,
.bulletpoint:focus .bulletpoint__icon {
  color: #fff;
  background: linear-gradient(#73d2ab 11%, #56b08b);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .94);
}

.bulletpoint__icon--past {
  color: #122244;
  background: linear-gradient(#6cc7ee 11%, #40789d);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .94);
}

/*
 * Desktop styles
 */
 @media only screen and (min-width: 1024px) {
   .timeline {
     height: 170px;
     display: flex;
     justify-content: center;
     align-items: flex-end;
   }

   .timeline__axis {
     background-color: #122244;
     height: 19px;
     border-radius: 6px;
     margin-top: 26px;
     margin-bottom: 26px;
     box-shadow: 0 -10px 19px rgba(168, 119, 178, .3);
     width: 80%;
   }

   .timeline__progress-bar {
     /* Firefox 45 fallback (FF doesn't support offset value):
      * "An offset can be either a relative value, expressed as a <percentage>, or an absolute <length> value. Positive values are offset towards the right or the bottom, whichever is suitable. Negative values are offset in the other directions."
      * https://developer.mozilla.org/en-US/docs/Web/CSS/position_value
      */
     background:
      radial-gradient(91px at center right, #8ac5f2, transparent),
      linear-gradient(#75d8ff, #2f5a7e);
     background:
      radial-gradient(91px at center right 120px, #8ac5f2, transparent),
      linear-gradient(#75d8ff, #2f5a7e);
     background-blend-mode: color-dodge;
     box-shadow: inset 0 1px 0 rgba(255, 255, 255, .45);
     border-radius: 4px;
     height: 11px;
     max-width: calc(100% - 8px);
     margin: 4px;
     width: 0;
   }

   /********************/

   .event {
     display: inline-block;
     position: absolute;
   }

   .event__desc {
     display: none;
   }

   .event__date {
     display: inline-block;
     width: 103px;
     outline: 1px solid #73d2ab;
     padding: 10px 0;
     margin-left: -10px;
     margin-top: -10px;
     font-size: 10px;
   }

   .event__title {
     display: inline-block;
     height: 29px;
     width: 103px;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: -10px;
     overflow: hidden;
   }

   /********************/

   .bulletpoint {
     margin-top: -9px;
   }

   .bulletpoint:hover + .event__desc,
   .bulletpoint:focus + .event__desc {
     display: block;
     text-align: center;
     color: #122244;
     background-color: #fff;
     border: 1px solid #73d2ab;
     padding: 10px;
     margin-left: 0;
     width: 83px;
     height: 62px;
     position: absolute;
     top: -111px;
     /* IE11 fallback: */
     left: 18px; /* 37px / 2 */
     transform: translateX(-50%);
     /* The same as:
      * transform: translateX(calc(-50% + 37px / 2));
      */
   }

   .bulletpoint:hover + .event__desc::before,
   .bulletpoint:hover + .event__desc::after,
   .bulletpoint:focus + .event__desc::before,
   .bulletpoint:focus + .event__desc::after {
     content: "";
     border-left: 6px solid transparent;
     border-right: 6px solid transparent;
     height: 6px;
     position: absolute;
     left: calc(103px / 2); /* half of width of tooltip */
     transform: translateX(-50%);
   }

   .bulletpoint:hover + .event__desc::before,
   .bulletpoint:focus + .event__desc::before {
     border-top: 6px solid #73d2ab;
     top: 82px;
   }

   .bulletpoint:hover + .event__desc::after,
   .bulletpoint:focus + .event__desc::after{
     border-top: 6px solid #fff;
     top: 81px;
   }
}
